.half {
	background-color: blue;
	height: 300px;
	width: 300px;
	top:0;
	left: 0;
}


.small {
	/*position: fixed;
	top: 0%;
	left:0%;*/
	background-color: yellow;
	height: 50px;
	width: 50px;
	margin: 5px;
	display: inline-block;
	float: right;
	
}






