


.half {
	

	height: 300px;
	width: 300px;
	background-color: blue;
	text-align: center;

}


.small {
display: inline-block;
	height: 50px;
	width: 50px;
	background-color: yellow;
	margin-right: 5px;
	margin-bottom: 5px;


	
}






